#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.input-container{
  max-width: 500px;
}

.input-container > input{
  width: 300px;

}



.li-list{
  padding: 1rem;
  margin: 1rem;
  background-color: rgba(255, 255, 255, 0.424) ;
  border-radius: 10px;
}

.ul-list{
  display: flex;
  font-size: 12px;
  flex-direction: row;
  flex-wrap: wrap;
}

.users-main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* gap: 14rem; */
}

.form-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 5px;
  text-align: left;
}

.e-container{
  grid-column: 1/3;
  grid-row: 2;
}

.e-container > input{
  width: 355px;
}

.p-container{
  grid-column: 1/3;
  grid-row: 3;
  width: 400px;
}

.p-container > input{
  width: 355px;
}

.b-container{
  grid-column: 1/3;
  grid-row: 4;
}

.b-container > input{
  width: 358px;
}

.ln-container{
  margin-top: 6px;
  margin-left: 8px;
}

box-icon{
  position: relative;
  top: 5px;
}




